html,
body {
    background-color: #fff;
    color: #636b6f;
    /*font-family: 'Segoe UI', sans-serif;*/
    font-family: 'Roboto', sans-serif !important;
    font-weight: 200;
    height: 100vh;
    margin: 0;
    overflow-x: hidden;
}


/*
@ Mahesh
@ 28/Sep/2020
*/

.background_orange {
    background: #f6921e;
}

.text_white {
    color: white !important;
}

.text_orange {
    color: #f6921e !important;
}

.text_black {
    color: black !important;
}

.font_13px {
    font-size: 13px !important;
}

.font_14px {
    font-size: 14px !important;
}

.font_15px {
    font-size: 15px !important;
}

.font_16px {
    font-size: 16px !important;
}

.font_18px {
    font-size: 18px !important;
}

.font_20px {
    font-size: 20px !important;
}
.font_22px {
    font-size: 22px !important;
}

.font_24px {
    font-size: 24px !important;
}

.font_27px {
    font-size: 27px !important;
}

.border {
    border: 1px solid #a4a1a1 !important;
}

.mt_25px {
    margin-top: 25px;
}

.mt_50px {
    margin-top: 50px;
}

.mb-2 {
    margin-bottom: 15px !important;
}

.font_weight400 {
    font-weight: 400;
}

.font_weight500 {
    font-weight: 500 !important;
}

.font_weight600 {
    font-weight: 600 !important;
}

.ml_30 {
    margin-left: 30px;
}

.top_menu {
    color: black !important;
    font-weight: 400;
    padding: 8px;
}

.topbar {
    height: 35px;
    font-weight: 400;
}

a.nav-link.topbar-item:hover {
    color: white;
}

a:hover {
    color: #f6921e;
}

.topbar-item:hover {
    color: black;
}

.section_header {
    font-size: 35px;
}

.key_service_border {
    border-bottom: 1px solid #787878;
    width: 74%;
    margin-left: 205px;
    margin-top: -20px;
}

.key_service_ul li {
    display: inline-block;
    position: relative;
    line-height: 21px;
}

.search_icon {
    position: relative;
}

.search_icon img {
    position: absolute;
    left: 4px;
    top: 6px;
    color: gray;
    height: 35px;
    width: 35px;
}

.dropdown-menu-right.show {
    top: 43px;
}


/* CSS For Lamguage Drop-down*/

ul li {
    position: relative;
    line-height: 21px;
}

ul li a {
    display: block;
    padding: 8px 25px;
    color: white;
    text-decoration: none;
}

.keyservice_anchor {
    color: black !important;
}

li.languaage_li {
    margin-left: -35px;
}

ul li ul.dropdown {
    /*min-width: 100%; /* Set width of the dropdown */
    background: #fff;
    display: none;
    position: absolute;
    z-index: 999;
    left: 0;
}

ul li:hover ul.dropdown {
    display: block;
    /* Display the dropdown */
}

ul li ul.dropdown li {
    display: block;
}


/* End CSS For Lamguage Drop-down*/

.navbar-sm-menus {
    border-bottom: 1px solid #fafafa;
    padding-bottom: 0;
    padding-top: 0;
    background: #fafafa;
    z-index: 99;
}

.menu-item .nav-link {
    color: black !important;
    font-weight: 400;
}

.social-media {
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: black;
    font-weight: 500;
    font-size: 14px;
}

.footer-list-item {
    height: 25px;
    color: black !important;
    font-weight: 400;
}

.home_banner_heading {
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 35px;
    margin: 150px 0px 26px 800px;
}

.home_banner_subheading {
    color: #fff;
    font-size: 17px;
    margin: 0px 0px 26px 800px;
}

.banner_button {
    width: 80%;
    margin: 0px 765px 0px 850px;
}

.tab_section {
    width: 80%;
}

.padding_top_85px {
    padding-top: 85px;
}

.bg_banner1 {
    display: flow-root;
    background-repeat: no-repeat;
    background-size: 100% auto;
    /*background-position: center left;*/
    min-height: 477px;
    background-image: url('../images/home_banner.jpg');
}

.bg_banner2 {
    display: flow-root;
    background-repeat: no-repeat;
    background-size: 100% auto;
    /*background-position: center left;*/
    min-height: 477px;
    background-image: url('../images/home_banner.jpg');
}

.bg_banner3 {
    display: flow-root;
    background-repeat: no-repeat;
    background-size: 100% auto;
    /*background-position: center left;*/
    min-height: 477px;
    background-image: url('../images/home_banner.jpg');
}

.section_navbar {
    font-weight: 500;
    margin-left: 365px;
    margin-top: -10px;
}

.home_list_machine {
    color: #e4e44a;
    /*margin-left: 91%;*/
    margin-left: calc(95% - 100px);
}

.list_machine_div {
    padding-top: 112px;
}

.social {
    justify-content: center;
    margin-top: 6px;
}

.second {
    height: 50px;
    position: sticky;
    top: 53px;
    background-color: white;
}

.line_height_3 {
    line-height: 3.3;
}

.line_height_5 {
    line-height: 5;
}


/* section, */

#key_services_mobile,
#popular_categories_mobile,
#popular_brands_mobile,
#mobile_footer {
    display: none;
}

#key_services,
#how_it_work,
#popular_categories,
#popular_brands,
#contact-us {
    margin: 20px 0px;
}

.tab-heading {
    font-weight: 400;
    font-size: 18px;
}

.tab-sub-heading {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.2em;
    margin-top: 15px;
}

a.tab_link {
    color: #f79643;
    font-size: 14px;
    font-weight: 500;
    margin-top: 15px;
}

.home_t_paragraph {
    font-size: 16px;
    color: black;
    margin-bottom: 27px;
    font-weight: 400;
}

.device_btn {
    width: 170px;
    font-size: 14px;
    margin-left: 39px;
}


/* How it Works steps css*/

.how_to_steps li:before {
    counter-increment: circle;
    content: counter(circle);
    color: #fff;
    margin-top: -7px;
}

.home_t_paragraph:before {
    background-color: #f6921e;
}

ol {
    counter-reset: circle;
}

ol li {
    list-style-type: none;
    position: relative;
}

ol li:before {
    counter-increment: myOrderedListItemsCounter;
    content: counter(myOrderedListItemsCounter)" ";
    margin-right: 15px;
    border-radius: 50%;
    font-size: 1.5vw;
    line-height: 1ch;
    box-sizing: content-box;
    height: 1ch;
    padding: 1ch;
    position: absolute;
    right: 100%;
}

#go_top {
    position: fixed;
    right: 20px;
    bottom: 70px;
    width: 50px;
    height: 50px;
    background: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    color: #f6921e;
    border: none;
    outline: none;
    cursor: pointer;
    z-index: 9;
    border-style: solid;
}

.product_popup .img-show {
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: #000000b3;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
}

#go_top:active {
    background: #f6921e;
}

#go_top:hover {
    background: #f6921e;
    color: #ffffff;
}

.top_225 {
    top: 225px !important;
}

.search_rental_btn,
.search_resale_btn {
    height: 50px;
    width: 140px;
    border-radius: 0;
    margin-left: -2px;
}

.contact_us_field {
    font-size: 12px;
    height: 35px;
    border-radius: 3px !important;
    border: 0.5px solid #f79646 !important;
    color: #212529 !important;
}


/*=============================
        Media CSS
 =============================*/


/* hi-res laptops and desktops */

@media (min-width:1281px) {
    .sm_menu_icon {
        display: none;
    }
    .mobile_footer_menu {
        display: none;
    }
    .mobile_login_menu {
        display: none;
    }
    #about_us_tab_mobile {
        display: none;
    }
}


/* Apple (portrait)----------- */

@media only screen and (min-width: 320px) and (max-width: 568px) {
    /*=== Top Navbar ===*/
    #topnavbar {
        display: none;
    }
    .navbar-collapse {
        position: fixed;
        top: 42px;
        left: 0;
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 15px;
        width: 65%;
        height: 100%;
        background: white;
    }
    .navbar-collapse.collapsing {
        left: -75%;
        transition: height 0s ease;
    }
    .navbar-collapse.show {
        left: 0;
        transition: left 300ms ease-in-out;
        background: white;
        margin-left: 0px !important;
    }
    .navbar-toggler.collapsed~.navbar-collapse {
        transition: left 500ms ease-in-out;
    }
    .mobile_footer_menu {
        margin-top: 25px;
    }
    .footer_menu_top_border {
        border-bottom: 1px solid black;
        width: 208px;
        margin-left: -15px;
    }
    .footer_menu_bottom_border {
        border-bottom: 1px solid black;
        width: 208px;
        margin-left: -15px;
        margin-top: 8px;
    }
    .about_sm_menulist {
        margin-top: 570px;
        position: fixed;
        background: white;
        height: 93%;
    }
    .aboutSM_menu_bottom_border {
        border-bottom: 1px solid black;
        margin-top: 8px;
    }
    .aboutSM_menu_bottom_border_2 {
        border-bottom: 1px solid #636b6f;
        margin-top: 8px;
        width: 80%;
        margin-left: 30px;
    }
    ul li a {
        padding: 0px;
    }
    /*== Banner CSS ==*/
    .bg_banner1 {
        min-height: 112px;
    }
    .home_banner_heading {
        font-size: 14px;
        margin: 2px 1px 21px 130px;
        max-height: 0px;
    }
    .home_banner_subheading {
        font-size: 10px;
        margin: 0px 0px 0px 125px;
        font-weight: 100;
    }
    .banner_button {
        margin: 0px 1px 0px 165px;
    }
    .hire_machine_btn {
        padding: 0px 4px 0px 4px;
        height: 20px;
        font-size: 12px;
    }
    .home_list_machine {
        margin-left: 200px;
        font-size: 11px;
    }
    .list_machine_div {
        padding-top: 0px;
    }
    /*== Section CSS ==*/
    .second {
        display: none;
        height: 3px;
    }
    #key_services_mobile,
    #popular_categories_mobile,
    #popular_brands_mobile,
    #mobile_footer {
        display: inline;
    }
    #key_services_mobile,
    #how_it_work,
    #popular_categories,
    #popular_brands_mobile {
        margin: 35px 0px;
    }
    .section_header {
        font-size: 20px;
    }
    /*== Key Service Section ==*/
    #key_services,
    #popular_categories,
    #popular_brands {
        display: none;
    }
    .key_service_iocn {
        height: 70px;
    }
    .key_service_info {
        padding: 20px 0px 0px 40px;
        font-size: 12px;
    }
    /*== How it Work ==*/
    #device_view1,
    #how_it_work_image,
    #step_text_div {
        display: none;
    }
    .home_t_paragraph {
        font-size: 14px;
    }
    .how_to_steps li:before {
        margin-top: -5px;
    }
    ol li:before {
        margin-right: 7px;
        font-size: 5vw;
    }
    /*== Footer ==*/
    .web_footer {
        display: none;
    }
    .mobile_footer {
        margin-bottom: 75px;
    }
    .footer_border {
        border-bottom: 15px solid #f6921e;
        margin-top: 30px;
    }
    .footer_info {
        padding: 12px 0px 0px 30px;
        font-size: 12px;
    }
    .play_store_icon {
        margin-left: 40px;
    }
    .footer_border_2 {
        border-bottom: 1px solid black;
        width: 90%;
        margin-left: 15px;
    }
    .social {
        margin-left: 70px;
        margin-top: 6px;
    }
    .social_icon {
        height: 30px;
    }
    #go_top {
        position: fixed;
        right: 20px;
        bottom: 70px;
        width: 35px;
        height: 35px;
        background: #ffffff;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
        color: #f6921e;
        border: none;
        outline: none;
        cursor: pointer;
        z-index: 9999;
        border-style: solid;
    }
    #test1234 {
        color: orange !important;
    }
    /* Rental Banner */
    .rental_bg_banner,
    .resale_bg_banner {
        min-height: 0px !important;
        background-repeat: repeat !important;
        height: 145px !important;
    }
    .banner_heading {
        font-size: 13px !important;
        margin: 2px 0px 2px 0px !important;
    }
    .banner_subheading {
        font-size: 9px !important;
        margin: 8px 0px 8px 0px !important;
    }
    .search_machine_div,
    .search_location_div {
        margin-left: 0px !important;
    }
    .machine_search {
        height: 27px !important;
        width: 210px !important;
        font-size: 12px !important;
        padding: 0px 35px !important;
    }
    .search_icon img {
        height: 20px !important;
        width: 20px !important;
    }
    .search_rental_btn_div,
    .search_resale_btn_div {
        margin-top: -9px;
    }
    .search_rental_btn,
    .search_resale_btn {
        height: 22px;
        width: 88px;
        border-radius: 0;
        margin-left: 55px;
        padding: 0px 0px 0px 0px;
        font-size: 14px;
    }
    /*About Us page*/
    #about_us_tab_web {
        display: none;
    }
    .founding_team {
        padding: 0px 0px 0px 0px !important;
        line-height: 2;
    }
    .executive_team {
        padding: 5px 0px 5px 0px;
        margin-left: 0px !important;
    }
    .map_icon {
        padding: 0px 0px 28px;
    }
}


/* SmartPhone (portrait)----------- */

@media only screen and (min-width: 360px) and (max-width: 640px) {
    /*=== Top Navbar ===*/
    #topnavbar {
        display: none;
    }
    .navbar-collapse {
        position: fixed;
        top: 42px;
        left: 0;
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 15px;
        width: 58%;
        height: 100%;
        background: white;
    }
    .navbar-collapse.collapsing {
        left: -75%;
        transition: height 0s ease;
    }
    .navbar-collapse.show {
        left: 0;
        transition: left 300ms ease-in-out;
        background: white;
        margin-left: 0px !important;
    }
    .navbar-toggler.collapsed~.navbar-collapse {
        transition: left 500ms ease-in-out;
    }
    .about_sm_menulist {
        margin-top: 637px;
        position: fixed;
        background: white;
        height: 93%;
    }
    .aboutSM_menu_bottom_border {
        border-bottom: 1px solid black;
        margin-top: 8px;
    }
    /*== Banner CSS ==*/
    .bg_banner1 {
        min-height: 125px;
    }
    .home_banner_heading {
        font-size: 14px;
        margin: 2px 1px 21px 130px;
        max-height: 0px;
    }
    .home_banner_subheading {
        font-size: 10px;
        margin: 0px 25px 0px 150px;
        font-weight: 100;
    }
    .hire_machine_btn {
        padding: 0px 4px 0px 4px;
        height: 25px;
        font-size: 15px;
    }
    .banner_button {
        margin: 0px 1px 0px 175px;
    }
    .home_list_machine {
        margin-left: 220px;
        font-size: 12px;
    }
    .list_machine_div {
        padding-top: 0px;
    }
    /*== Section CSS ==*/
    .second {
        display: none;
        height: 3px;
    }
    #key_services_mobile,
    #popular_categories_mobile,
    #popular_brands_mobile,
    #mobile_footer {
        display: inline;
    }
    #key_services_mobile,
    #how_it_work,
    #popular_categories,
    #popular_brands_mobile {
        margin: 35px 0px;
    }
    .section_header {
        font-size: 25px;
    }
    /*== Key Service Section ==*/
    #key_services,
    #popular_categories,
    #popular_brands {
        display: none;
    }
    .key_service_iocn {
        height: 70px;
    }
    .key_service_info {
        padding: 23px 0px 0px 30px;
        font-size: 14px;
    }
    /*== How it Work ==*/
    #device_view1,
    #how_it_work_image,
    #step_text_div {
        display: none;
    }
    .home_t_paragraph {
        font-size: 16px;
    }
    .how_to_steps li:before {
        margin-top: -2px;
    }
    ol li:before {
        margin-right: 7px;
        font-size: 4.3vw;
    }
    /*== Footer ==*/
    .web_footer {
        display: none;
    }
    .mobile_footer {
        margin-bottom: 75px;
    }
    .footer_border {
        border-bottom: 15px solid #f6921e;
        margin-top: 30px;
    }
    .footer_info {
        padding: 12px 0px 0px 30px;
        font-size: 12px;
    }
    .play_store_icon {
        margin-left: 40px;
    }
    .footer_border_2 {
        border-bottom: 1px solid black;
        width: 90%;
        margin-left: 15px;
    }
    .social {
        margin-left: 70px;
        margin-top: 6px;
    }
    .social_icon {
        height: 30px;
    }
    #test1234 {
        color: green !important;
    }
    /* Rental Banner */
    .rental_bg_banner,
    .resale_bg_banner {
        min-height: 0px !important;
        background-repeat: repeat !important;
        height: 145px !important;
    }
    .banner_heading {
        font-size: 13px !important;
        margin: 7px 0px 7px 0px !important;
    }
    .banner_subheading {
        font-size: 9px !important;
        margin: 0px 0px 0px 0px !important;
    }
    .search_machine_div,
    .search_location_div {
        margin-left: -3px !important;
    }
    .machine_search {
        height: 30px !important;
        width: 250px !important;
        font-size: 12px !important;
    }
    .search_icon img {
        height: 25px !important;
        width: 25px !important;
    }
    .search_rental_btn,
    .search_resale_btn {
        height: 25px;
        width: 95px;
        border-radius: 0;
        margin-left: 65px;
        padding: 0px 0px 0px 0px;
        font-size: 14px;
    }
}

@media only screen and (min-width: 460px) and (max-width: 768px) {
    /*=== Top Navbar ===*/
    #topnavbar {
        display: none;
    }
    .navbar-collapse {
        position: fixed;
        top: 41.5px;
        left: 0;
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 15px;
        width: 45%;
        height: 100%;
        background: white;
    }
    .navbar-collapse.collapsing {
        left: -75%;
        transition: height 0s ease;
    }
    .navbar-collapse.show {
        left: 0;
        transition: left 300ms ease-in-out;
        background: white;
        margin-left: 0px !important;
    }
    .navbar-toggler.collapsed~.navbar-collapse {
        transition: left 500ms ease-in-out;
    }
    .about_sm_menulist {
        margin-top: 757px;
        position: fixed;
        background: white;
        height: 93%;
    }
    .aboutSM_menu_bottom_border {
        border-bottom: 1px solid black;
        margin-top: 8px;
    }
    /**/
    .home_banner_heading {
        font-size: 14px;
        margin: 12px -40px 21px 130px;
        max-height: 0px;
    }
    .home_banner_subheading {
        font-size: 10px;
        margin: 0px 25px 0px 190px;
        font-weight: 100;
    }
    .banner_button {
        margin: 0px 1px 0px 245px;
    }
    .home_list_machine {
        margin-left: 250px;
        font-size: 14px;
    }
    .list_machine_div {
        padding-top: 0px;
    }
    .list_machine_div {
        padding-top: 20px;
    }
    .home_list_machine {
        margin-left: 300px;
        font-size: 14px;
    }
    /*== Section CSS ==*/
    .second {
        display: none;
        height: 3px;
    }
    #key_services_mobile,
    #popular_categories_mobile,
    #popular_brands_mobile,
    #mobile_footer {
        display: inline;
    }
    #key_services_mobile,
    #how_it_work,
    #popular_categories,
    #popular_brands_mobile {
        margin: 35px 0px;
    }
    .section_header {
        font-size: 25px;
    }
    /*== Key Service Section ==*/
    #key_services,
    #popular_categories,
    #popular_brands {
        display: none;
    }
    .key_service_iocn {
        height: 95px;
    }
    .key_service_info {
        padding: 35px 0px 0px 40px;
        font-size: 17px;
    }
    /*== How it Work ==*/
    #device_view1,
    #how_it_work_image,
    #step_text_div {
        display: none;
    }
    .home_t_paragraph {
        font-size: 16px;
    }
    .how_to_steps {
        margin-left: 10px;
    }
    .how_to_steps li:before {
        margin-top: -4px;
    }
    ol li:before {
        margin-right: 7px;
        font-size: 4vw;
    }
    /*== Footer ==*/
    .web_footer {
        display: none;
    }
    .mobile_footer {
        margin-bottom: 75px;
    }
    .footer_border {
        border-bottom: 15px solid #f6921e;
        margin-top: 30px;
    }
    .footer_info {
        padding: 12px 0px 0px 30px;
        font-size: 12px;
    }
    .play_store_icon {
        margin-left: 40px;
    }
    .footer_border_2 {
        border-bottom: 1px solid black;
        width: 90%;
        margin-left: 15px;
    }
    .social {
        margin-left: 125px;
        margin-top: 6px;
    }
    .social_icon {
        height: 30px;
    }
    #test1234 {
        color: red !important;
    }
    /* Rental & Resle Banner */
    .rental_bg_banner,
    .resale_bg_banner {
        min-height: 0px !important;
        background-repeat: repeat !important;
        height: 185px !important;
    }
    .banner_heading {
        font-size: 18px !important;
        margin: 12px 0px 12px 0px !important;
    }
    .banner_subheading {
        font-size: 12px !important;
        margin: 0px 0px 0px 0px !important;
    }
    .search_machine_div,
    .search_location_div {
        margin-left: 20px !important;
    }
    .machine_search {
        height: 35px !important;
        width: 270px !important;
        font-size: 16px !important;
    }
    .search_icon img {
        height: 25px !important;
        width: 25px !important;
    }
    .search_rental_btn,
    .search_resale_btn {
        height: 30px;
        width: 125px;
        border-radius: 0;
        margin-left: 90px;
        padding: 0px 0px 0px 0px;
        font-size: 16px;
    }
    /*About Us page*/
    .founding_team {
        line-height: 3;
    }
    .executive_team {
        line-height: 2;
    }
    .map_icon {
        padding: 0px 0px 10px;
    }
}


/*
@End By Mahesh
*/

.rental_bg_banner {
    display: flow-root;
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center top;
    min-height: 515px;
    background-image: url(../images/rental_banner.jpg);
}

.resale_bg_banner {
    display: flow-root;
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center top;
    min-height: 515px;
    background-image: url(../images/rental_banner.jpg);
}

.search_machine_div {
    max-width: 270px;
    margin-left: 139px;
}

.machine_search {
    height: 50px;
    width: 270px;
    border-radius: 0;
    padding: 0px 40px !important;
    font-size: 14px;
}

.location_search {
    height: 50px;
    width: 270px;
    border-radius: 0;
    padding: 0px 40px;
    font-size: 14px;
}

.search_location_div {
    max-width: 272px;
}

.banner_heading {
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 35px;
    margin: 90px 0px 30px 0px;
}

.banner_subheading {
    color: #fff;
    font-size: 17px;
    margin: 0px 0px 50px 0px;
}

.t_color {
    color: #f6921e !important;
}

.tab_section {
    margin: 0 auto;
    width: 80%;
}

.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
}

.title {
    font-size: 84px;
}

.links>a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.m-b-md {
    margin-bottom: 30px;
}

.topbar-item {
    color: #ffffff;
}

.menu-item {
    margin-right: 15px;
}

.footer-social-bar {
    background: #f6921e;
}

.footer-social-item {
    display: flex;
}

.main-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.main-footer-content {
    display: inline-grid;
    padding: 10px;
}


/*----------- Machin Listing --------------*/


/*----------- End Machin Listing --------------*/


/*------------ Home Page ----------------------------------*/

.blue-color {
    color: #1f497d;
}

.member_count .plus_sign {
    font-size: 17px;
    position: relative;
    bottom: 6px;
}


/* section, */

#member_counter,
.header-title h3 {
    font-size: 26px;
    color: #f79643;
    font-weight: 500;
    margin: 50px 0px;
}

#key_services .col-md-2,
#founding_team .col-md-2,
#executive_team .col-md-2 {
    flex: 0 0 19.666667%;
    max-width: 19.666667%;
}

.nav-tabs {
    margin: 25px auto;
}

.tab_section .nav-tabs {
    position: relative;
}

.tab_section .slider {
    display: inline-block;
    width: 30px;
    height: 2px;
    border-radius: 3px;
    background-color: #f79643;
    position: absolute;
    bottom: 0;
    transition: all .4s linear;
}

.bg_banner #nav-tabContent {
    width: 73% !important;
    margin: 0 auto!important;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    /*color: #f79643;
    background-color: #fff;
    padding-left: 30px;
    padding-right: 30px;
    border-bottom: 2px solid #f79643;*/
    border-top: 4px solid #f6921e !important;
    height: 42px;
    background: white !important;
    color: #f6921e;
}

.nav-tabs .nav-link {
    background-color: #fff;
    border: 1px solid #a4a1a1;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    padding-left: 30px;
    padding-right: 30px;
    color: black;
    font-size: 16px;
    font-weight: 500;
    background: linear-gradient(to right, #dee2e6 50%, #ffffff 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all .20s ease-out;
}

.nav-tabs .nav-link:active {
    background-position: left bottom;
}

.tab-pane {
    background-color: #fff;
}

#how_it_work .tab_section {
    width: 100%;
}

#banner {
    margin: 0 !important;
    overflow: hidden;
    background-color: #fafafa;
}

#banner .tab-pane {
    padding: 20px;
}

.form-control {
    padding: 5px 10px;
    font-size: 13px;
}


/*------------ End Home Page ----------------------------------*/


/*------------ Machine Detail  ----------------------------------*/

#breadcrumb {
    background-color: #ffffff!important;
}

.pricing_infprmation h4 {
    font-size: 20px;
    color: #000;
}

#detail_section .header-title h3 {
    color: #000000;
}

.product__carousel {
    display: block;
    max-width: 700px;
}

.product__carousel a {
    display: block;
    margin-bottom: 15px;
}

.currency_icon {
    font-size: 19px;
    position: relative;
    bottom: -3px;
    padding-right: 7px;
    color: #000;
}

.border-color {
    border-color: #f79643!important;
}

.price-heading span {
    color: #000000;
    font-size: 16px;
}

.product__carousel .gallery-top {
    border: 1px solid #a4a1a1;
    border-radius: 3px;
    margin-bottom: 5px;
}

.product__carousel .gallery-top .swiper-slide {
    position: relative;
    overflow: hidden;
}

.product__carousel .gallery-top .swiper-slide a {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.product__carousel .gallery-top .swiper-slide a img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.product__carousel .gallery-top .swiper-slide .easyzoom-flyout img {
    min-width: 100%;
    min-height: 100%;
}

.product__carousel .swiper-button-next.swiper-button-white,
.product__carousel .swiper-button-prev.swiper-button-white {
    color: #f79643;
}

.swiper-button-next:after,
.swiper-button-prev:after {
    font-size: 32px !important;
}

.product__carousel .gallery-thumbs .swiper-slide {
    position: relative;
    transition: border .15s linear;
    border: 1px solid #ebebeb;
    border-radius: 3px;
    cursor: pointer;
    overflow: hidden;
    height: calc(100% - 2px);
}

.product__carousel .gallery-thumbs .swiper-slide.swiper-slide-thumb-active {
    border-color: #000;
}

.product__carousel .gallery-thumbs .swiper-slide img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
}

#gallery-thumbs_img {
    overflow: initial;
    height: 82px !important;
}

.heart_hover {
    display: none;
    color: #f79643;
    padding-right: 9px;
}

.heart_simple {
    display: inline-block;
    color: #f79643;
    padding-right: 9px;
}

#detail_section #tab_section_detail {
    width: 100%;
}

#gallery-top_img {
    height: 440px!important;
}

.add_favorate a {
    font-size: 14px;
    color: #000;
    font-weight: 500;
}

.gallery-thumbs .swiper-slide {
    margin-bottom: 10px;
}

.add_favorate a:hover {
    text-decoration: none;
}

.add_favorate a:hover .heart_hover {
    display: inline-block;
}

.add_favorate a:hover .heart_simple {
    display: none;
}


/*------------------- End Machine Detail --------------------*/


/*------------------- Rental Search Page --------------------*/

.display_none {
    display: none;
}

#bg_rental_banner {
    display: flow-root;
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center top;
    background-attachment: inherit;
    min-height: 260px;
    background-image: url(../images/NewMachine_Banner.png);
}

#rental_search .container {
    margin-top: -90px;
}

#rental_search .tab_section {
    width: 95%;
}

.logosImgs {
    display: -webkit-flex;
    display: flex;
    justify-content: center;
}


/*------------------- End Rental Search Page --------------------*/


/*---------------- Machine Type ------------------*/

.bx-height-logo:hover {
    border-color: #f79643!important;
}

.slick-prev:before,
.slick-next:before {
    color: #000000;
}

.pointer {
    cursor: pointer;
}

#machine_cat .container,
#related-machine .container {
    width: 100%;
    max-width: 97%;
}


/*---------------- End Machine Type ------------------*/


/*---------------- Login & Register ------------------*/

.nounderline:hover {
    text-decoration: none;
}

.t_paragraph {
    font-size: 14px;
    color: black;
    margin-bottom: 8px;
    font-weight: 400;
    line-height: 1.8;
    text-align: justify;
}

.border_left_right {
    width: 100%;
    text-align: center;
    position: relative;
}

.border_left_right small {
    position: relative;
    padding: 10px;
    background: #ffffff;
    display: inline-block;
    z-index: 1;
}

.border_left_right::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    height: 1px;
    background: #9e9e9e40;
    z-index: 0;
}

#captcha {
    background-image: url('../images/captcha.jpg');
    height: 50px;
}


/*---------------- Contact Us ------------------*/

#map {
    height: 300px;
    /* The height is 300 pixels */
    width: 100%;
    border: 1px solid #a4a1a1;
    /* The width is the width of the web page */
}


/*------------------ About Us --------*/

.small_heading {
    color: black;
    font-size: 18px;
}

.founding_team {
    border: 1px solid #a4a1a1;
    padding: 5px 10px 5px 15px;
    font-size: 16px;
    font-weight: 400;
}

.executive_team {
    border: 1px solid #a4a1a1;
    padding: 5px 50px 5px 50px;
    font-size: 16px;
    font-weight: 400;
    color: black;
    margin-left: -5px;
}

.about_us_team_active {
    background: #f6921e;
    color: white;
}

.img_shadow.position-absolute {
    top: 0px;
    background-color: #0000006e;
    color: #fff;
    padding-top: 76px;
    animation: rotate .8s ease-in-out;
}

.sub-heading {
    color: #a4a1a1;
    font-weight: 400;
}

@keyframes rotate {
    0% {
        width: 100px;
        height: 100px;
        top: 36px;
        left: 44px;
        transform: rotate(0deg);
    }
    50% {
        width: 130px;
        height: 130px;
        top: 36px;
        left: 44px;
        transform: rotate(180deg);
    }
    100% {
        width: 208px;
        height: 190px;
        top: 0px;
        left: 0px;
        transform: rotate(360deg);
    }
}

.founding_team .position-relative:hover .img_shadow.position-absolute {
    display: block;
}

.mobile_view {
    width: 34%;
    margin: 0 auto;
}

@media only screen and (max-width: 1000px) {
    .img_shadow.position-absolute {
        animation: none;
    }
}

@media only screen and (max-width: 768px) {
    #filter_sidebar {
        min-height: auto;
    }
    #register .col-md-8 .border-right {
        border: none !important;
    }
    #listing_section .col-md-3 {
        margin-bottom: 8px;
    }
    .member_name h6 {
        font-size: 12px;
    }
    #machine_cat .container,
    #related-machine .container {
        padding-right: 32px;
        padding-left: 32px;
        overflow: hidden;
    }
    .img_shadow.position-absolute {
        animation: none;
    }
    #rental_search .container {
        margin-top: 0px;
    }
    #key_services .col-md-2,
    #founding_team .col-md-2,
    #executive_team,
    .col-md-2 {
        flex: 0 0 100.666667% !important;
        max-width: 100.666667% !important;
        margin-bottom: 35px;
    }
    .nav-tabs .nav-link {
        font-size: 13px;
        padding-left: 7px;
        padding-right: 7px;
    }
    .nav-tabs .nav-link.active {
        padding-left: 7px;
        padding-right: 7px;
    }
    .tab_section .row {
        margin: 0 auto;
    }
    .form-control {
        padding: 18px;
        margin: 4px 0px;
    }
    .search_list #middel_containt,
    .search_list #advertisement {
        flex: 0 0 100%;
        max-width: 100%;
    }
}

@media screen and (max-width: 800px) {
    .logosImgs img {
        width: 100%;
        object-fit: cover;
        max-height: 88px;
        margin: 5px 8px;
    }
}

@media screen and (max-width: 560px) {
    .logosImgs img {
        width: 100%;
        object-fit: cover;
        max-height: 60px;
        margin: 3px 5px;
    }
}

.rm-grey-bdr__btn {
    background: 0 0;
    border: 1px solid #dfdfdf;
    border-radius: 2px;
    color: #313131;
    padding: 3px 10px;
}

.cat-filter .cat-grey-box {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border: 1px solid #e7e7e7;
    border-radius: 3px;
    padding: 20px 5px;
    padding: 20px;
    perspective: 1000px;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition: all .2s linear;
}

.input-group.input-group--selection-controls {
    z-index: 0;
}

.input-group.input-group--selection-controls {
    display: flex;
    padding: 0;
}

.input-chk-filters {
    color: black !important;
    font-size: 12px!important;
    font-weight: 500;
}

.input-chk-filters.filters-chk {
    position: relative;
    top: 2px;
}

.cursor-pointer {
    cursor: pointer;
}

button:focus {
    outline: 0px dotted;
    outline: 0px auto -webkit-focus-ring-color !important;
}

.ui-autocomplete,
.pac-container {
    z-index: 11111111 !important;
}

.header-title {
    font-size: 17px;
    font-weight: 600;
}

.marginTop25xp {
    margin-top: 25px;
}

.table_th {
    width: 200px;
    padding-top: 13px;
}

.pricing_information {
    height: 265px;
}

.height70px {
    height: 70px;
}

.related_machine_heading {
    font-size: 15px !important;
    font-weight: 500;
    color: #f79643;
}

.color_black {
    color: #000000;
    font-weight: 400;
}

.btn_style {
    height: 45px;
    margin: 0px 5px;
}

.social_media {
    border: 1px solid;
    margin-top: -17px;
    margin-left: -25px;
    box-shadow: 2px 2px #a79e9e;
}


/*-- Machien Listing & Machine Details CSS --*/

div .chosen-container-multi {
    width: 100% !important;
}

.chosen-container {
    /* width: 232px; */
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .370rem .75rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.chosen-container-single .chosen-single {
    position: relative;
    display: block;
    overflow: hidden;
    padding: 0 0 0 0px;
    height: 30px;
    border: none !important;
    border-radius: 0.25rem;
    background-color: transparent;
    background: unset !important;
    background: unset !important;
    background: unset !important;
    background: unset !important;
    background: unset !important;
    background-clip: padding-box;
    box-shadow: unset !important;
    color: #444;
    text-decoration: none !important;
    white-space: nowrap !important;
    line-height: 24px;
}


/* for listing filter */

.darkorange {
    color: darkorange;
}

.chosen-container-multi .chosen-choices {
    border: 0px solid transparent !important;
    background-image: none !important;
    border-radius: 3px;
    margin: -3px 0px 0px 0px !important;
}

.chosen-container-active .chosen-choices {
    border: none !important;
    box-shadow: none !important;
}

.chosen-container .chosen-drop {
    margin-top: 1px !important;
    border-top: 0px !important;
}

div.chosen-container {
    border: 0.5px solid #f79646 !important;
    height: fit-content;
    padding-bottom: 2px !important;
    padding-left: 0px;
}

@media (max-width: 575.98px) {
    div.chosen-container {
        display: block;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    div.chosen-container {
        width: 100%;
    }
}

.border-sky-blue {
    border-radius: 3px !important;
    border: 0.5px solid #f79646 !important;
    color: #212529 !important;
}

.btn-sky-blue {
    background-color: #f6921e !important;
    color: #ffffff !important;
    border-radius: 3px !important;
    border: 1px solid #f79646 !important;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn-sky-blue-rev {
    font-weight: 400 !important;
    color: #f6921e !important;
    text-decoration: none !important;
}

.btn-outline-sky-blue {
    background-color: #ffffff !important;
    color: #f6921e !important;
    border-radius: 3px !important;
    border: 1px solid #f79646 !important;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    margin-left: 6px;
}

.btn-sky-blue:hover {
    background-color: #f79646d6 !important;
    color: #ffffff !important;
    border: 1px solid #f79646d6 !important;
}

form label {
    font-weight: 600;
}

@media screen and (max-width: 560px) {
    #gallery-top_img {
        height: 265px!important;
    }
    .price_div {
        font-size: 22px;
    }
}


/* Added by Shrikant 15-Sept-20
   Hide notification of texteditor */

.tox-notification {
    display: none !important;
}

.contact_owner_btn_style {
    border: 1px solid;
    font-weight: 500 !important;
    font-size: 16px !important;
}

.request_offer_btn_style {
    background: #f6921e;
    color: white;
    margin-left: 10px;
    width: 180px;
    font-weight: 500 !important;
    font-size: 16px !important;
    box-shadow: none !important;
}

/* Refer & Earn Page CSS */
.tab-content {
    min-height: 50px !important;
}
/* Tabs panel */
.tabbable-panel {
    border:1px solid #a4a1a1;
    padding: 10px;
    background: white;
}

/* Default mode */
.tabbable-line > .nav-tabs {
    border: none;
    margin: 0px;
}
.tabbable-line > .nav-tabs > li {
    margin-right: 2px;
}
.tabbable-line > .nav-tabs > li > a {
    border: 0;
    margin-right: 0;
    color: #737373;
}
.tabbable-line > .nav-tabs > li > a > i {
    color: #a6a6a6;
}
.nav-tabs > li > a.active {
    color: #f6921e !important;
}
.nav-tabs > li > a:hover {
    color: #f6921e !important;
    text-decoration: none;
}
.tabbable-line > .tab-content {
    margin-top: -3px;
    background-color: #fff;
    border: 0;
    border-top: 1px solid #eee;
    padding: 15px 0;
}
.portlet .tabbable-line > .tab-content {
    padding-bottom: 0;
}
/* Below tabs mode */

.tabbable-line.tabs-below > .nav-tabs > li {
    border-top: 4px solid transparent;
    /* width: 32.5%; */
}
.tabbable-line.tabs-below > .nav-tabs > li > a {
    margin-top: 0;
}
.tabbable-line.tabs-below > .nav-tabs > li a {
    border-top: 4px solid transparent;
}
.tabbable-line.tabs-below > .nav-tabs > li a.active {
    margin-bottom: -2px;
    border-bottom: 0;
    border-bottom: 4px solid #f6921e !important;
}
.tabbable-line.tabs-below > .tab-content {
    margin-top: -10px;
    border-top: 0;
}

.tab-pane {
    margin: 0px !important;
}

.cm-tab-content {
    margin: 10px 0px;
}

.tabbable-line.tabs-below > .nav-tabs > li a.active {
    text-align: center;
    font-size: 20px;
    border-radius: 0px;
}
.tabbable-line.tabs-below > .nav-tabs > li {
    text-align: center;
    font-size: 20px;
    border-radius: 0px;
}
i.fa {
    font-size: 20px;
    text-align: center;
}
.other-way-to-share {
    position: absolute;
    left: 38%;
    background: white;
    padding: 5px;
    font-weight: 700;
}
.tab-body {
    min-height: 100px;
}
.page-container {
    min-height: 570px;
}
.remove-text-decoration:hover {
    color:black;
    text-decoration: none;
}
.text-black{
    color:black;
}
